certifi==2017.7.27.1
chardet==3.0.4
coreapi==2.3.1
coreschema==0.0.4
dj-database-url==0.4.2
dj-static==0.0.6
static3==0.7.0
Django==1.11.29
django-filter==1.0.4
django-test-without-migrations==0.6
djangorestframework==3.11.2
idna==2.5
itypes==1.1.0
Jinja2>=2.10.1
Markdown==2.6.8
MarkupSafe==1.0
python-decouple==3.0
pytz==2017.2
requests==2.20.0
uritemplate==3.0.0
urllib3==1.24.2
